<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

    <system.webServer>

      <httpErrors errorMode="Detailed" />

      <asp scriptErrorSentToBrowser="true"/>

    </system.webServer>
  
  <connectionStrings>
    <add name="myServer" connectionString="Data Source=184.168.194.62; Initial Catalog=dryden_database;User ID=dryden;Password=dryden@1"
      providerName="System.Data.SqlClient" />
    <add name="dryden_databaseConnectionString" connectionString="Data Source=184.168.194.62;Initial Catalog=dryden_database;User ID=dryden;Password=dryden@1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <pages theme="mainStyle"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <membership defaultProvider="myProvider">
      <providers>
        <add name="myProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="myServer" applicationName="/Master"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="myProvider">
      <providers>
        <add name="myProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="myServer" applicationName="/Master"/>
      </providers>
    </roleManager>
    <authorization>
      <allow users="Admin" />
      <allow users="Doctor" />
      <allow users="Patient" />
    </authorization>
  </system.web>
</configuration>

<!--******************* ADMIN LOGIN *******************-->
<!--username: admin
password: admin123!
email: admin@gmail.com
security question: hospital acronym?
security answer: drhcc-->

<!--******************* PATIENT LOGIN *******************-->
<!--username: patient1
password: patient1@!
email: patient01@drhcc.com
security question: d stands for?
security answer: dryden-->
<!--username: patient2
password: patient2@!
email: patient02@drhcc.com
security question: d stands for?
security answer: dryden-->
<!--username: patient3
password: patient3@!
email: patient03@drhcc.com
security question: d stands for?
security answer: dryden-->

<!--******************* DOCTOR LOGIN *******************-->
<!--username: doctor1
password: doctor1@!
email: doctor01@drhcc.com
security question: d stands for?
security answer: dryden-->
<!--username: doctor2
password: doctor2@!
email: doctor02@drhcc.com
security question: d stands for?
security answer: dryden-->
<!--username: doctor3
password: doctor3@!
email: doctor03@drhcc.com
security question: d stands for?
security answer: dryden-->