<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
     <add name="myServer" connectionString="Data Source=184.168.194.62; Initial Catalog=dryden_databse;User ID=dryden;Password=dryden@1" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.web>
    
    <pages theme="mainStyle"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>