<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="myServer" connectionString="Data Source=184.168.194.62; Initial Catalog=dryden_database;User ID=dryden;Password=dryden@1"
      providerName="System.Data.SqlClient" />
    <add name="dryden_databaseConnectionString" connectionString="Data Source=184.168.194.62;Initial Catalog=dryden_database;User ID=dryden;Password=dryden@1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages theme="mainStyle"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <membership defaultProvider="myProvider">
      <providers>
        <add name="myProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="myServer" applicationName="/Master"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="myProvider">
      <providers>
        <add name="myProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="myServer" applicationName="/Master"/>
      </providers>
    </roleManager>
    <authorization>
      <allow users="Admin" />
      <allow users="Doctor" />
      <allow users="Patient" />
    </authorization>
  </system.web>
</configuration>
<!--username: admin
password: admin123!
email: admin@gmail.com
security question: hospital acronym?
security answer: drhcc-->
<!--username: patient
password: patient123!
email: patient@gmail.com
security question: hospital acronym?
security answer: drhcc-->
<!--username: doctor
password: doctor123!
email: doctor@gmail.com
security question: hospital acronym?
security answer: drhcc-->