
/* --------------------------------------
   Master Dashboard
   -------------------------------------- */
/*--------------Header STARTS here---------------*/
#admin_body{
  font-size: 1rem; 
  background-color:#535453;
}


#admin_dashboard {

  background-color:#eee;

}

#admin_d_image img {
  width: 90%;
 padding: 14px 18px;
 margin-top:37px; 
}

#admin_profile {
  margin-top:11px;
  font-size: 1.1rem;
}

#admin_profile li a {
  font-size:14px;
}

#admin_profile .fa {
  padding:10px;

}

/*--------------Header ENDS here---------------*/
/*--------------Nav STARTS here---------------*/
#admin_d_sidebar {
  margin-top: 14px;

}

#admin_d_sidebar ul {
  background-color: #97bf28;
}

#admin_d_sidebar ul li {
  text-align:left;
}

#admin_d_sidebar ul li a {
  padding: 20px;
  color:#fff;
}

#admin_d_sidebar ul li a:hover {
  background-color:#535453;
}

#admin_d_sidebar .fa-2x  {
  width:40px;
}

#admin_d_sidebar .nav-sidebar {

  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 0.5rem; 
}

#admin_d_sidebar .nav-sidebar > li {
  font-size: 1.3rem;
  padding: 0;
  
  
}



#admin_body .navbar {
    margin-top:0px;
}
/*--------------NAV ENDS here---------------*/

/* --------------------------------------
   Global Style
   -------------------------------------- */

.alert_textarea {
    width:200px;
}


.admin_form {
    color:#fff;
    margin-top: 49px;
    margin-left: 49px;
}


input {
    color:#535453;
}


input[type="text"] {
    width: 50%;
min-height: 27px;
}

input[type="submit"] {
    padding: 7px 18px;
    background-color: #97bf28;
    border: 0px;
    color: #fff;
    font-size: 12px;
}

.admin_label {
    font-size:14px;
}

.admin_form table {
    font-size:14px;
}

/* --------------------------------------
   Image Slider
   -------------------------------------- */


/* --------------------------------------
   Alert
   -------------------------------------- */

.admin_header {
   
    color:white;
    font-size:36px;
 
}

.admin_view_live {
    font-size: 20px;
background-color: #f3ab35;
color: #fff;
padding: 5px 10px 5px 15px;
}

#alert_title_td {
    padding-right:50px;

}

#cph_admin_d_alert_pnl_insert textarea {
    width:50%;
    min-height:200px;
    color:#535453;
    font-size:12px;
}


#cph_admin_d_alert_rpt_all_alert_btn_update_0 {
    padding-right:19px;

    }
#alert_title_td, #alert_message_td{
    vertical-align:top;
}
input[type="text"].alert_up_title {
    width:200px;
}


#cph_admin_d_alert_pnl_all legend {
    color:#fff;
}

#cph_admin_d_alert_pnl_insert legend {
    color:#fff;
}




@media screen and (max-width: 1024px) {
 /* --------------------------------------
   Master Dashboard
-------------------------------------- */

/*--------------Header STARTS here---------------*/


    #admin_dashboard .navbar-brand {
    margin-top: 0px;
    }
    #admin_dashboard .navbar-toggle {
    visibility:hidden;
    }

    #admin_body .navbar {
    width: 100%;
    }
    #admin_d_image img {
     margin-top:0px;
    }
/*--------------Header ENDS here---------------*/
}




@media (max-width: 767px) {

    /* --------------------------------------
   Master Dashboard
   -------------------------------------- */
/*--------------Header STARTS here---------------*/

    #admin_dashboard .navbar-toggle {
    top: 43px;
    width: 50px;
    height: 33px;
    padding: 0px 12px;
    }

    #admin_dashboard i {
      padding-right: 1rem; }

    #admin_dashboard .navbar-header {
    margin-top: 0px;
    }
/*--------------Header ENDS here---------------*/
/*--------------NAV STARTS here---------------*/

    #admin_dashboard .navbar-toggle {
    visibility:visible;
    }

    #admin_d_sidebar {
      width: 33%;
    }

  .row-offcanvas-left{
    z-index: 1000;
  }
/*--------------NAV ENDS here---------------*/

    
}




@media only screen and (max-width: 480px) {

/* --------------------------------------
   Master Dashboard
-------------------------------------- */
/*--------------Header STARTS here---------------*/
 #admin_dashboard  .btnWrapper.col-xs-3 {
    width: 19%; }
 #admin_profile > li {
     background-color: transparent;
    }
/*--------------Header ENDS here---------------*/
/*--------------NAV STARTS here---------------*/

 #admin_dashboard .navbar-toggle {
    top: 26px;
    width: 43px;
    height: 33px;
    padding: 0px 8px;
    }
/*--------------NAV ENDS here---------------*/


  }


